.Hero {
  @apply border-b border-primary bg-secondary pb-16 pt-24 md:pb-0;

  .heroImg {
    width: auto;
    height: auto;
    outline-offset: 0px;
    object-fit: cover;
    padding-bottom: 0;
    padding-left: 0;
  }
}
